/* H1 & CUSTOM-SIZES */

h1.section-head{
	color: black;
	text-align: center;
	margin-bottom:40px;
}

h1.section-head:after{
	background:#a29999;
	content:"";
	display: block;
	width: 145px;
	height: 1px;
    margin: 26px auto;
}

h4.title{
	font-size: 18px;
	font-weight: bold;
	padding: 20px 0px;
	margin-bottom: 0;
}

.custom-size{
	font-size: 15px;
	font-weight: 400;
	text-align: center;
	padding: 10px 20px;
}

.my-mb{
	margin-bottom: 20px;
}



/* ICONS */

.icon-flex, .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-wrapper {
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #1E1457;
    font-size:50px !important;
    width: 105px;
    height: 105px;
   margin: 10px 0px;
}
.icon-wrapper i {
    color:  #1E1457;
}



/* BUTTONS */

.btn{
	background-color: rgb(26,17,74);
	color: #FFF;
}

.btn:hover,
.btn:active{
	color: #FFF !important;
	background-color: rgb(24, 7, 122) !important;
	border-color: rgb(24, 7, 122) !important;
}

.radius{
	border-radius: 7px;
}



/* HEADER */

.navbar-toggler{
	border: 0;
	color:rgba(0, 0, 0, 0.8) !important;
	font-size: 25px;
	border-color: #fff;
}
.navbar-toggler:focus{
	box-shadow: none;
}

#logo{
	color:rgb(26,17,74);
}

#apply-btn{
	font-size: 17px;
	padding: 12px 50px;
	margin: 0px 65px 0 0 !important;
	font-family: "Josefin Sans", Sans-serif;
}

ul li a{
	font-size: 14px;
	padding: 0px 0px 0px 20px !important;
	margin: 10px 10px;
	font-family: "Josefin Sans", Sans-serif;
}



/* BANNER */

#banner{
	background-image: url(../images/banner-2.jpg);
	background-size: cover;
	background-blend-mode: overlay;
	background-color: rgba(10, 10, 10,0.3);
	height: 675px;
	width: auto;
	position: relative;
}

#banner-btn {
	font-size: 21px !important;
	border-radius: 7px;
	padding: 10px 20px;
	background-color:#1E1457;
}

.shadow{
	box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%) !important;
}

.myHover:hover{
	border-radius: 8px;
	box-shadow:0px 0px 10px 0px rgb(0 0 0 / 50%) !important;
}


/* VIDEO */

#info-video{
	height: 100%;
	position: relative;
}

#info-video:before{
	top: 0;
	left: 0;
	font-family: FontAwesome;
	content:"\f04b";
	position: absolute;
	z-index: 2;
}


/* LATEST NEWS */
.news-post{
	height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.news-post img{
	width: 100%;
	margin-bottom: 10px;
}

.news-post h3{
    font-size: 1.35rem;
}

.news-post h3 a{
	color:#009ee3;
}

.post-date{
    font-size: 13px;
    margin-bottom: 2px;
}

a.readmore{
	font-size: 14px;
	color:#009ee3;
	text-decoration: none;
}



/* Scroll to top btn */

#myScrollBtn {
  display: none;
  position: fixed;
  bottom: 2px;
  right: 2px;
  z-index: 99;
  font-size: 18px;
  border: 1px solid #e9ecef;
  outline: none;
  background-color:#e9ecef;
  cursor: pointer;
  padding: 10px 18px;
  margin: 1rem;
  border-radius:0.25rem;
}

#myScrollBtn{
	color:#ababab;
}

#myScrollBtn:hover {
	color:#777777;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider hr {
  flex: 1 1 0;
  color: #fff;
  font-weight: bold;
  opacity: 1;
}

.far{
	color: #fff;
	border-radius: 7px;
	font-size: 40px;
}



/*Pre-footer*/

#pre-footer{
	background-image: url(../images/pre-footer-bg.jpg);
	background-size: cover;
	top: 0;
	height: auto;
	width: auto;
	position: relative;
}



/*Footer*/

.col-md-4 ul li{
	list-style: none;
}
.col-md-4 a{
	color: #aab8c2;
	padding: 0 28px 20px 0 !important;
	margin: 0;
	font-size: 16px;
}

.icon-flex-2, .icon-wrapper-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-wrapper-2 {  
	border: 1px solid rgba(230, 230, 230, 0.2);
	color:  #FFF;
    border-radius: 50%;
    overflow: hidden;
    font-size:20px !important;
    width: 50px;
    height:50px;
    margin: 10px 10px 10px 0px;
    background-color: #47195a;
}

.icon-wrapper-2:hover{
	border: 1px solid #fff;
	color: #47195a;
	border-radius: 50%;
    overflow: hidden;
    font-size:20px !important;
    width: 50px;
    height:50px;
    margin: 10px 10px 10px 0px;
    background-color:#fff ;
    animation: animation 0.7s ease-out infinite;
}

@keyframes animation {
	0% {
	transform: scale(1, 1);
	}
	50% {
	transform: scale(0.9, 0.9);
	}
	100% {
	transform: scale(1, 1);
	}
}



/* MEDIA FOR 1440 */

@media (max-width: 1440px){

	#logo-img{
		padding: 20px 20px 20px 10px !important;
	}
}



/* MEDIA FOR 1024 */

@media (max-width: 1024px){

	#apply-btn{
		margin-right: 0 !important;
		font-size: 15px;
		padding: 6px 20px;
	}

}



/* MEDIA FOR 768 */

@media (max-width: 768px){

	ul .navbar-nav{
		flex-wrap: wrap;
		flex-direction: row !important;
	}

	.vr{
		display: none;
	}

	#apply-btn{
		margin: 16px 0px 16px 10px !important;
	}

	video{
		height: 455px;
		width: 100%;
		margin-bottom: 25px;
	}
}



/* MEDIA FOR 425 */

@media (max-width: 425px){

	.navbar-nav{
		flex-wrap: wrap !important;
		flex-direction: row !important;
	}

	.my-mb{
		margin-bottom: 2rem !important;
	}

	.myHover{
		border-radius: 8px;
		box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%) !important;
	}
	
	.col-md-12{
	  padding-top: 0 !important;
	}

	#banner{
		padding-top: 0 !important;
	}

	#banner-title{
		font-size: 40px;
	}

	#banner-text-1{
		font-size: 25px;
		margin-right: 25px;
		margin-left: 25px;
	}

	#banner-text-2{
		font-size:30px ;
	}

	video{
		height: 310px;
	}

	blockquote br{
		display: none;
	}

	#blockquote-text{
		font-size: 24px !important;
		line-height: 1.5;
	}

	#pre-container{
		padding: 0 3rem !important;
	}

	#pre-footer-head{
		font-size: 23px;
		margin-bottom: 30px !important;
	}

	#pre-footer-text{
		font-size: 15px;
		margin-bottom: 15px !important;
	}

	#contact-info{
		padding-left: 12px !important;
	}

	#footer h2{
		text-align: center;
	}

	#footer p{
		text-align: justify;
	}

	#animation{
		justify-content: center;
	}
}

/* MEDIA FOR 320 */
@media (max-width: 320px){

	#logo-img{
		padding: 20px 7px 20px 10px !important;
	}

	#banner-title{
		font-size: 34px;
	}

	#banner-text-1{
		font-size: 20px;
		margin-right: 15px;
		margin-left: 15px;
	}

	#banner-text-2{
		font-size:25px ;
	}

	.custom-size{
		padding: 0;
	}
}